:root {
	--blue: #61dafb;
	--gray: #1f2229;
}

/* Normalize the paddings and margins */
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Global */
body {
	font-family: 'Roboto';
	font-size: 1.6rem;
	background-color: rgb(13, 21, 60);
	background-color: #282c34;
	background-color: var(--gray);
	color: rgb(201, 201, 201);
	margin: 0;
}

h1 {
	font-size: 2.8rem;
	color: white;
	margin-bottom: 4rem;
}

h3 {
	color: rgb(228, 228, 228);
}

a {
	text-decoration: none;
	color: rgb(107, 107, 107);
	font-size: 1.2rem;
	font-weight: 100;
	text-align: center;
	display: block;

}

a:hover {
	color: rgb(172, 170, 170);
}

label,
.button {
	font-weight: 100;
	font-size: 1.5rem;
}

input, select {
	border: 1px solid rgb(58, 64, 89);
	background-color: rgb(59, 65, 86);
	background-color: rgb(44, 49, 70);
	color: rgb(201, 201, 201);
	border-radius: 0.5rem;
	padding: 1.2rem;
}

input:focus {
	border: 1px solid rgb(164, 164, 164);
	outline: none;
}

select:focus {
	outline: none;
}

button {
	border: none;
	font-family: 'Roboto';
}

.button {
	background-color: rgb(84, 55, 211);
	background-color: #26c1ec;
	border: none;
	width: 100%;
	padding: 1.2rem;
	border-radius: 0.5rem;
	color: white;
	margin-top: 4rem;
	cursor: pointer;
}

.button:hover {
	background-color: rgb(110, 55, 211);
	background-color: rgb(43, 182, 224)
}

.container {
	width: 90%;
	max-width: 130rem;
	margin: 0 auto;
}

.card {
	background-color: rgb(35, 45, 88);
	margin: 10rem auto;
	padding: 5rem;
	border-radius: 1rem;
	text-align: center;
}


.home-button {
	border: 1px solid var(--blue);
	border-radius: 3rem;
	padding: 1rem 2rem;
	color: white;
	font-size: 1.6rem;
	background-color: transparent;
	font-weight: 300;
	cursor: pointer;
}

.home-button:hover {
	background-color: var(--blue);
	color: black;

}


.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.green {
	filter: invert(10%) sepia(74%) saturate(557%) hue-rotate(73deg) brightness(98%) contrast(101%);
}

.red {
	filter: invert(51%) sepia(13%) saturate(3027%) hue-rotate(315deg) brightness(101%) contrast(95%);
}

.yellow {
	filter: invert(51%) sepia(93%) saturate(257%) hue-rotate(25deg) brightness(141%) contrast(95%);
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {

	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.home-buttons {
	display: flex;
	gap: 2rem;
}

.form {
	width: 35rem;
	margin: 2rem auto;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 2rem;
}

.alert {
	text-align: center;
	color: rgb(207, 70, 70);
	font-weight: 300;
}



.hidden {
	display: none;
}

.arrow-link {
	width: 50px;
}

.navigation {
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.signup-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}